{% extends 'listor/mall.html' %}

{% block innehall %}
    <div class="container py-5">
        
        {% for lista in listan %}
            <h1>{{lista.list_name}}

                <a href="{% url 'lista-uppdatera' lista.id %}"><i class="bi bi-pencil-square"></i></a>
            </h1>
        {% endfor %}

        <table>
            {% for item in items %}
            <tr>
                <td>{{item.item_name}}</td>
                <td>{{item.amount}}</td>
                <td>redigera</td>
                <td>radera</td>
            </tr>
            {% endfor %}
        </table>
        
        {% for lista in listan %}
            <a class="btn btn-primary" href="{% url 'vara-ny' lista.id %}">Ny vara</a>
        {% endfor %}
    
    </div>
{% endblock innehall %}